{% extends "mayin/base.html" %}
{% load static %}
{% load i18n %} 

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/mayin/css/style.css' %}" />
<link rel="stylesheet" href="{% static '/mayin/css/reset.css' %}" />
<link rel="stylesheet" href="{% static '/mayin/css/regist.css' %}" />
{% endblock css %}

{% block con %}
    <div class="container">
      <div class="content">
        <form method="post" action="">
          <div class="user-details">
            {% csrf_token %} 
            {% for fr in form %}
            <div class="input-box">
              <span class="details"> {{fr.label}} </span>
              {{fr}}
            </div>
            {% endfor %}
          </div>
          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
{% endblock  %}
